*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,207,106,1) 53%, rgba(0,212,255,1) 100%);
}
/* first section */
h1,h2,h3,h4,h5,h6,li {
  color: #fff;
}



.resume {
  max-width: 800px;
  margin: 70px auto;
  background-color: aliceblue;
  display: flex;
}

.information-part {
  background-color: rgb(68, 36, 36);
  flex: 1;
}

.information-part img {
  border:2px solid #fff;
  display: block;
  margin:30px auto;
  border-radius: 50%;
}
.resume h1 {
  text-align: center;
  font-size: 24px;
}

.resume h2 {
  text-align: center;
  font-size: 20px;
  color: #999;
  margin-top: 15px;
}


.resume h3 {
  text-align: center;
  font-size:22px;
  margin-top: 50px;
}

.resume h5 {
text-align: center;
margin-top: 30px;
font-size: 18px;
}

.skill-1 {
border: 1px solid #fff;
width: 190px;
margin-left: 40px;
margin-top: 10px;

}
.skill-2 {
  border: 1px solid #fff;
  width: 190px;
  margin-left: 40px;
  margin-top: 10px;
}
.skill-3 {
  border: 1px solid #fff;
  width: 190px;
  margin-left: 40px;
  margin-top: 10px;
}
.inside-border-1 {
  background-color: #fff;
  padding: 7px;
  width: 160px;
}
.inside-border-2 {
    background-color: #fff;
    padding: 7px;
    width: 100px;
  }
  
 .inside-border-3 {
      background-color: #fff;
      padding: 7px;
      width: 130px;
    }

.under-line-coding {
  display: block;
  border-bottom: 1px solid #fff;
  width: 120px;
  margin-left: 70px;
  margin-top: 10px;
}
.under-line {
  display: block;
  border-bottom: 1px solid #fff;
  margin-top: 30px;
}

/* Social Media Section */

ul.social-part {
  text-align: center;
  margin-top: 25px;
}

ul.social-part li {
list-style: none;
padding: 4px;
font-size: 22px;
}

ul.social-part li a {
  text-decoration: none;
  color: #fff;
}

ul.social-part li a:hover {
  border-bottom: 1px solid #fff;
  color: orangered;
}

/* Start second Section */

/* EXPERIENCE Part */
.second-section {
  flex: 2;
}

.experince-heading {
  color: #000;
  font-family:cursive;
}

.under-line-2{
    display: block;
    border-bottom: 1px solid #000;
    margin-top: 20px;
    width: 400px;
    margin-left: 65px;
}

.resume p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  
 
}
.experince-paragraph {
  font-size: 20px !important;
  font-weight: bold;
 
}

.experince-part {
  position: relative;
}

.experince-part:before {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background: #000;
  position: absolute;
  top: 80px;
  left: 28px;
}

.experince-part::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: 78px;
}

.experince-paragraph::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: 160px;
}


/* EDUCATION PART */

.education-heading {
  color: #000;
  font-family:cursive;
}


.education-list {
  position: relative;
}

.education-list:before {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 28px;
}

.list::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: 160px;
}
.list::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: 80px;
}
.sub-list::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: -1px;
}

ul.education-list li {
  color: #000;
  text-align: center;
  margin-top: 15px;
  list-style: none;
}

.list .sub-list{
  font-size: 20px;
  margin-left: -100px;
  font-weight: bold;
} 

.list .education-paragraph {
  font-size: 14px;
  margin-left: 30px;
}




/* Hobbies PART  */

h3.hobbies-heading {
  color: #000;
  font-family:cursive;
  
}

ul.hobbies {
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
margin-top:10px;
  
}
ul.hobbies li {
  color: #000;
  font-size: 20px;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
}

/* LANGUAGES Part */

.language-heading {
  color: #000;
  font-family:cursive;
}

.list-language ul {
display: flex;
justify-content: center;
align-items: center;
gap:80px;
margin-top: 20px;
margin-bottom: 80px;
position: relative;

}
.list-language ul li {
  list-style-type:none;
  color: #000;
  font-size: 18px;
  text-align: center;
}


.list-language li.sub-list-language:before {
  content: "";
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-left: -25px !important;
  position: absolute;
  top: -15px;
}

.break-line {
  display: block;
  line-height: 35px;
  color: red;
}




