*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(41,207,106,1) 53%, rgba(0,212,255,1) 100%);
}
/* first section */
h1,h2,h3,h4,h5,h6,li {
  color: #fff;
}

.background-img {     
  position: absolute;
  left:1000px;
  top: 182px;
  z-index: -2;
  transform: rotate(90deg);
  border-radius: 50px;
  opacity: 0.4;
  

}
.background-img1 {     
  position: absolute;
  left:300px;
  top: 550px;
  z-index: -2;
  transform: rotate(90deg);
  border-radius: 50px;
  opacity: 0.4;

}

.resume {
  max-width: 800px;
  margin: 70px auto;
  background-color: aliceblue;
  display: flex;
}

#first-section {
  background-color: rgb(68, 36, 36);
  flex: 1;
}

#first-section img {
  border:2px solid #fff;
  display: block;
  margin:30px auto;
  border-radius: 50%;
}
.resume h1 {
  text-align: center;
  font-size: 27px;
}

.resume h2 {
  text-align: center;
  font-size: 20px;
  color: #999;
  margin-top: 15px;
}


.resume h3 {
  text-align: center;
  font-size:22px;
  margin-top: 50px;
}

.resume h5 {
text-align: center;
margin-top: 30px;
font-size: 18px;
}

.skill-1 {
border: 1px solid #fff;
width: 190px;
margin-left: 40px;
margin-top: 10px;

}
#inside-1 {
  background-color: #fff;
  padding: 7px;
  width: 160px;
}
.skill-2 {
  border: 1px solid #fff;
  width: 190px;
  margin-left: 40px;
  margin-top: 10px;
  }
  #inside-2 {
    background-color: #fff;
    padding: 7px;
    width: 100px;
  }

  .skill-3 {
    border: 1px solid #fff;
    width: 190px;
    margin-left: 40px;
    margin-top: 10px;
    }
    #inside-3 {
      background-color: #fff;
      padding: 7px;
      width: 130px;
    }

#small-border {
  display: block;
  border-bottom: 1px solid #fff;
  width: 120px;
  margin-left: 70px;
  margin-top: 10px;
}
#line1 {
  margin-top: 30px;
}

/* Social Media Section */

ul.social-part {
  text-align: center;
  margin-top: 25px;
}

ul.social-part li {
list-style: none;
padding: 4px;
font-size: 22px;
}

ul.social-part li a {
  text-decoration: none;
  color: #fff;
}

ul.social-part li a:hover {
  border-bottom: 1px solid #fff;
  color: orangered;
}

/* Start second Section */

/* EXPERIENCE Part */
#second-section {
  flex: 2;
}

.experince-heading {
  color: #000;
  font-family:cursive;
}

#line2 {
  margin-top: 10px;
  width: 450px;
  margin-left: 40px;
}

.resume p {
  text-align: center;
  margin-top: 20px;
  
 
}
.experince-paragraph {
  font-weight: bold;
  font-size: 23px;
  margin-right: 90px;
}

.vertical { 
  border-left: 2px solid black; 
  height: 170px; 
  position:absolute; 
  left:44%;
  top: 19.5%; 
} 
.circle {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 100px;
}
.circle1 {
  position: absolute;
  top:19%;
  left: 43.8%;
}

.circle2 {
  position: absolute;
  top:29%;
  left: 43.8%;
}

/* EDUCATION PART */

.education-heading {
  color: #000;
  font-family:cursive;
}

ul.education-list li {
  color: #000;
  text-align: center;
  margin-top: 15px;
  list-style: none;
  
  
}
#a {
  position: relative;
  left: 10px;
}

.list-a {
  position: relative;
  left: 15px;
}

.list {
  font-weight: bold;
  font-size: 24px;
  margin-right: 90px;
  margin-left: -65px;  
}
.vertical1 { 
  border-left: 2px solid black; 
  height: 200px; 
  position:absolute; 
  left:44%;
  top: 47.7%; 
} 
.circle {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 100px;
}
.circle3 {
  position: absolute;
  top:47%;
  left: 43.8%;
}

.circle4 {
  position: absolute;
  top:55%;
  left: 43.8%;
}

.circle5 {
  position: absolute;
  top:62.5%;
  left: 43.8%;
}


/* Hobbies PART  */

h3.hobbies-heading {
  color: #000;
  font-family:cursive;
  
}

ul.hobbies {
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
margin-top:10px;
  
}
ul.hobbies li {
  color: #000;
  font-size: 20px;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
}

/* LANGUAGES Part */

.language-heading {
  color: #000;
  font-family:cursive;
}

ul.language  {
  display: flex;
justify-content: center;
align-items: center;
gap:60px;
margin-top: 20px;
margin-bottom: 20px;
}
ul.language li {
  list-style-type:none;
  color: #000;
}

#circle-language1 {
  border: 3px solid #000;
  padding: 30px;
  border-radius: 50%;
}

#circle-language2 {
  border: 3px solid #000;
  padding: 30px;
  border-radius: 50%;
  text-align: center;
}


#circle-language3 {
  border: 3px solid #000;
  padding: 30px;
  border-radius: 50%;
  text-align: center;
}





@media only screen and (max-width: 1440px) {
  body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,207,106,1) 23%, rgba(0,212,255,1) 60%);

  }

  .background-img {     
    position: absolute;
    left:750px;
    top: 182px;
    z-index: -2;
    transform: rotate(90deg);
    border-radius: 50px;
    opacity: 0.4;
    
  
  }
  .background-img1 {     
    position: absolute;
    left:80px;
    top: 550px;
    z-index: -2;
    transform: rotate(90deg);
    border-radius: 50px;
    opacity: 0.4;
  
  }


  .vertical {
    position: absolute;
    left:42%;
    top: 25%; 
  }


  .circle1 {
  position: absolute;
  top:24%;
  left: 41.8%;
  }
  .circle2 { 
  position: absolute;
  top:35%;
  left: 41.8%;
  }
  
  .vertical1 { 
    position:absolute; 
    left:42%;
    top: 58%; 
  } 
  .circle3 {
  position: absolute;
  top:57.5%;
  left: 41.8%;
  }

  .circle4 {
    position: absolute;
    top:67%;
    left: 41.8%;
    }

  .circle5 {
    position: absolute;
    top:77%;
    left: 41.8%;
    }
  }



